/* VIDEO DE FONDO */

.bg-video{

position:fixed;

top:50%;

left:50%;

min-width:100%;

min-height:100%;

transform:translate(-50%,-50%);

object-fit:cover;

z-index:-2;

}

/* OVERLAY */

.overlay{

position:fixed;

width:100%;

height:100%;

background:rgba(0,0,0,0.5);

z-index:-1;

}

/* HERO */

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

color:white;

}

/* TEXTO PRINCIPAL */

.hero h1{

font-family:'Anton', sans-serif;

font-size:40vw;

line-height:.8;

letter-spacing:-0.5vw;

}

/* BOTONES */

.hero-buttons{

margin-top:40px;

display:flex;

gap:40px;

}

.hero-buttons a{

font-family:'Inter', sans-serif;

text-decoration:none;

color:white;

letter-spacing:2px;

border-bottom:1px solid white;

padding-bottom:5px;

transition:.3s;

}

.hero-buttons a:hover{

opacity:.6;

}